{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <h1>All Cafes</h1>

            <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        {% for i in range(nof_labels) %}
                            <th scope="col">{{ cafes[0][i] }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for j in range(1, nof_rows) %}
                        <tr>
                            {% for k in range(nof_labels) %}
                                {% if "http" in cafes[j][k] %}
                                    <td><a href="{{ cafes[j][k] }}">Maps Link</a></td>
                                {% else %}
                                    <td>{{ cafes[j][k] }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p><a href="{{ url_for('home') }}">Return to index page</a></p>
        </div>
    </div>
</div>

{% endblock %}
